
.partner{
    max-width: 1296px;
    margin: 200px auto 0 auto;
    .startOne{
        display: flex;
        align-items: center;
        .images{
            img{
                height: 45.15px;
                transform: rotate(-180deg);
            }
        }
        h1{
            margin-left: 50px;
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            color: #fff;
        }
    }
    .brend{
        margin-top: 60px;
        display: grid;
        grid-gap: 1px;
        background: #b4b2b2;
        grid-template-columns: repeat(4,1fr);
        .brendImg{
            width: 100%;
            height: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: black;
            img{
                width: 60%;
                height: 93px;
            }
        }
    }
}

@media screen and (min-width:992px)  {
    .partner{
        width: calc(100% - 160px);
    }
}


@media screen and (max-width:992px) and (min-width:700px){
    .partner{
        width: calc(100% - 60px);
        margin-top: 100px;
        .startOne{
            justify-content: center;
            h1{
                margin-left: 30px;
                font-size: 30px;
            }
        }
        .brend{
            grid-template-columns: repeat(4,1fr);
        }
    }
}

@media screen and (max-width:700px){
    .partner{
        width: calc(100% - 60px);
        margin-top: 100px;
        .startOne{
            justify-content: center;
            h1{
                margin-left: 30px;
                font-size: 25px;
            }
        }
        .brend{
            grid-template-columns: repeat(2,1fr);
        }
    }
}