*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

.start{
    max-width: 1296px;
    margin: 200px auto 0 auto;
    .startOne{
        display: flex;
        align-items: center;
        .images{
            img{
                width: 90.3px;
                height: 45.15px;
            }
        }
        h1{
            margin-left: 50px;
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            color: #fff;
        }
    }
    h5{
        margin-top: 50px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 25.6px;
        color: #fff;
        opacity: .5;
    }

    .percentage{
        width: 100%;
        margin-top: 80px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        .line{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &:nth-child(2){
                .linear{
                    .linearGradient{
                        margin-top: 30px;
                        height: 60px;
                        transform: matrix(-1, 0, 0, 1, 0, 0);
                    }
                }
                p{
                    margin-top: 45px;
                }
            }
            &:nth-child(3){
                .linear{
                    .linearGradient{
                        margin-top: 45px;
                        height: 30px;
                    }
                }
                p{
                    margin-top: 60px;
                }
            }
            &:nth-child(4){
                .linear{
                    .linearGradient{
                        margin-top: 55px;
                        height: 10px;
                        transform: matrix(-1, 0, 0, 1, 0, 0);
                    }
                }
                p{
                    margin-top: 70px;
                }
            }
            .linear{
                h1{
                    font-style: normal;
                    font-weight: bold;
                    font-size: 36px;
                    line-height: 140%;
                    color: #fff;
                }
                .linearGradient{
                    margin-top: 20px;
                    // width: 324px;
                    height: 80px;
                    background: linear-gradient(94.26deg, #C89AFC 9.51%,
                    #7C6AFA 90.23%);
                }
            }
            p{
                padding-right: 10px;
                margin-top: 35px;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 160%;
                color: #FFFFFF;
                opacity: 0.5;
            }
        }
    }
}

@media screen and (min-width:992px)  {
    .start{
        width: calc(100% - 160px);
    }
}

@media screen and (max-width:992px) and (min-width:700px) {
    .start{
        width: calc(100% - 60px);
        .startOne{
            h1{
                font-size: 30px;
            }
        }
        h5{
            font-size: 14px;
        }
        .percentage{
            grid-template-columns: repeat(2,1fr);
            grid-row-gap: 30px;
            .line{
                .linear{
                    h1{
                        font-size: 30px;
                    }
                }
            }
        }
    }
}


@media screen and (max-width:700px)  {
    .start{
        width: calc(100% - 60px);
        margin-top: 100px;
        .startOne{
            justify-content: center;
            h1{
                font-size: 25px;
            }
        }
        h5{
            display: flex;
            justify-content: center;
            font-size: 14px;
        }
        .percentage{
            grid-template-columns: repeat(1,1fr);
            grid-row-gap: 30px;
            .line{
                .linear{
                    text-align: center;
                    h1{
                        font-size: 25px;
                    }
                }
                p{
                    font-size: 12px;
                }
            }
        }
    }
}
