
.teachers{
    max-width: 1296px;
    margin: 200px auto 0 auto;
    .startOne{
        display: flex;
        align-items: center;
        .images{
            img{
                height: 45.15px;
                transform: rotate(-45deg);
            }
        }
        h1{
            margin-left: 50px;
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            color: #fff;
        }
    }
    .wrap{
        margin-top: 120px;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        box-sizing: border-box;
        grid-column-gap: 5%;
        justify-self: center;
        color: white;
        .komp{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            img{
                width: 190px;
                height: 190px;
                border-radius: 50%;
                object-fit: cover;
            }
            h1{
                text-align: center;
                margin-top: 40px;
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 140%;
            }
            p{
                margin-top: 15px;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 160%;
                text-align: center;
                color: #FFFFFF;
                opacity: 0.8;
            }
            .btn{
                margin-top: 30px;
                padding: 10px 30px;
                width: 143px;
                height: 44px;
                color: white;
                font-weight: normal;
                font-size: 16px;
                line-height: 150%;
                border: 1px solid #FFFFFF;
                box-sizing: border-box;
                border-radius: 50px;
                background: black;
                cursor: pointer;
                transition: all 0.4s linear;
                &:hover{
                    background: white;
                    color: black;
                }
            }
        }
    }
}

@media screen and (min-width:992px)  {
    .teachers{
        width: calc(100% - 160px);
    }
}

@media screen and (max-width:992px) and (min-width:700px) {
    .teachers{
        margin-top: 100px;
        width: calc(100% - 60px);
        .startOne{
            justify-content: center;
            h1{
                margin-left: 30px;
                font-size: 30px;
            }
        }
        .wrap{
            margin-top: 60px;
            grid-template-columns: 32% 32% 32%;
            grid-column-gap: 2%;
            .komp{
                h1{
                    font-size: 20px;
                }
                p{
                    font-size: 15px;
                }
            }
        }
    }
}


@media screen and (max-width:700px)  {
    .teachers{
        width: calc(100% - 60px);
        margin-top: 100px;
        .startOne{
            justify-content: center;
            h1{
                margin-left: 30px;
                font-size: 25px;
            }
        }
        .wrap{
            margin-top: 50px;
            grid-template-columns: repeat(1,1fr);
            grid-row-gap: 50px;
            .komp{
                h1{
                    font-size: 18px;
                }
                p{
                    font-size: 13px;
                }
            }
        }
    }
}